.pessoaContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  padding: 1em;
  width: 15em;
  margin: 0 1em 2em auto;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.356);
  border-radius: 0.5em;
  border: 0.05em solid rgba(0, 0, 0, 0.45);
}

.SegundoTituloPessoa {
  background: red;
  color: #333;
  width: 10em;
  margin: 1em auto 0 auto;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.356);
  border-radius: 0.5em;
  border: 0.05em solid rgba(0, 0, 0, 0.45);
}

.ParagrafoPessoa {
  background: rgb(255, 120, 120);
  width: 10em;
  margin: 1em auto 0 auto;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.356);
  border-radius: 0.5em;
  border: 0.05em solid rgba(0, 0, 0, 0.45);
}

.ImagemPessoa {
  border: 0.05em solid rgb(113, 113, 113);
  border-radius: 50%;
  max-height: 10em;
  max-width: 10em;
  margin: auto;
}
