*{
  padding: 0;
  margin: 0;
}

.ContainerGeral {
}

.ContainerApp {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ContainerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.356);
  border-radius: 0.5em;
  border: 0.05em solid rgba(0, 0, 0, 0.45);
  padding: 1em;
}

.ContainerList > h1 {
  margin-bottom: .5em;
}
