button:hover {
    background: rgb(66, 66, 66);
    cursor: pointer;
}

.container {
    background: rgb(45, 45, 45);
    border-radius: 0.2em;
    width: 20em;
    margin: auto;
    padding: 0.07em;
}

.container_resultado {
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content: right;
    padding: .5em;
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    word-break: break-word;
}

.botao {
    display: inline-block;
}