.simbol {
    background: rgb(27, 27, 27);
    width: 3em;
    height: 3em;     
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    border: none;
    margin: 0.07em;
    font-weight: lighter;
    line-height: 0em;
}

.container_botao_igual {
    background-color: darkblue;
}
